@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Slider */ 
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav-link-underline {
  position: relative; 
}

.nav-link-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 10px;
  bottom: -4px;
  background-color: theme('colors.yellow.400');
  transition: width 0.3s ease-out;
}

.nav-link-underline:hover::after,
.nav-link-underline.active::after {
  width: 80%;
}

.nav-link-underline.active::after {
  width: 85%;
}
